#bias {
  display: flex;
  flex: 1;
  flex-direction: column;

  .config {
    width: 300px;
    margin: auto;
  }

  .plots {
    flex: 1;

    .plot {
      display: inline-block;
    }
  }

  .spinner {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .plots {
    display: flex;

    >div {
      flex-grow: 1;
      text-align: center;
    }
  }
}
