#dataset_wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .dropzone {
    cursor: pointer;
  }

  .dropzone-container:not(.light) {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .dropzone {
      background: #fafafa;
      border: 2px dashed #eeeeee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 50%;
      height: 50%;
    }
  }

  .configure {
    margin: auto;
    text-align: right;

    label {
      font-size: 30px;
    }

    table {
      border-collapse:separate; 
      border-spacing: 0 40px;
    }

    .select_col {
      min-width: 300px;
    }

    .Select {
      display: inline-block;
      width: 100%;
      margin-left: 10px;
      text-align: left;
    }

    input[type="submit"] {
      cursor: pointer;
      padding: 10px;
    }

    >div {
      margin: 30px 0px;
    }
  }
}
