html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: normal;
  }

  .nav {
    flex: 1;
    text-align: center;
    font-size: 20px;
  }

  .dropzone_container {
    font-size: 25px;
    color: #1da1f2;
    cursor: pointer;
  }
}

.dropzone {
  cursor: pointer;
}

.page {
  display: flex;
  flex: 1;
  justify-content: center;
}

.responsive_plot {
  width: 100%;
  height: 100%;
}

.plots_page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .config {
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      font-size: 20px;
    }

    .Select {
      flex-grow: 1;
    }
  }

  .plots {
    flex: 1;

    .plot {
      display: inline-block;
    }
  }

  .spinner {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .plots {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    >div {
      text-align: center;
    }

    .ranking {
      text-align: left;
      height: 33%;
      margin-bottom: 50px;

      .responsive_plot {
        max-width: 800px;
      }
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      .responsive_plot {
        flex-grow: 1;
        width: 50%;
        min-width: 450px;
      }
    }
  }
}

#load_dataset {
  align-items: center;

  .dropzone_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .dropzone {
      background: #fafafa;
      border: 2px dashed #eeeeee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 50%;
      height: 50%;
    }
  }
}

#configure_dataset {
  align-items: center;
  margin: auto;
  text-align: center;

  .dnd {
    display: flex;
    margin-bottom: 20px;

    .dustbin {
      flex-grow: 1;
      margin: 0 20px;
      min-height: 100%;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      background: #fafafa;
      border: 2px dashed #eeeeee;
      padding: 10px;

      .title {
        text-align: center;
        font-size: 20px;
      }

      .boxes {
        border: 2px dashed #eeeeee;
        background: white;
        padding: 10px;
        flex-grow: 1;
      }
    }

    .dustbin.active .boxes {
      background: #fafafa;
    }

    .box {
      border: 1px solid #000;
      background: #fafafa;
      padding: 5px;
      cursor: move;
      margin: 5px 0;
    }

    .box.active {
      opacity: 0.5;
    }
  }

  input[type="submit"] {
    cursor: pointer;
    padding: 10px;
  }
}
