html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: normal;
  }

  .nav {
    flex: 1;
    text-align: center;
    font-size: 20px;
  }

  .dropzone_container {
    font-size: 25px;
    color: #1da1f2;
    cursor: pointer;
  }
}

.dropzone {
  cursor: pointer;
}

.page {
  display: flex;
  flex: 1;
  justify-content: center;
}

.responsive_plot {
  width: 100%;
  height: 100%;
}

.plots_page {
  display: flex;
  flex: 1;
  flex-direction: column;

  .config {
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      font-size: 20px;
    }

    .Select {
      flex-grow: 1;
    }
  }

  .plots {
    flex: 1;

    .plot {
      display: inline-block;
    }
  }

  .spinner {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .plots {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    >div {
      text-align: center;
    }

    .ranking {
      text-align: left;
      height: 33%;
      margin-bottom: 50px;

      .responsive_plot {
        max-width: 800px;
      }
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      .responsive_plot {
        flex-grow: 1;
        width: 50%;
        min-width: 450px;
      }
    }
  }
}

#load_dataset {
  align-items: center;

  .dropzone_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .dropzone {
      background: #fafafa;
      border: 2px dashed #eeeeee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 50%;
      height: 50%;
    }
  }
}

#configure_dataset {
  align-items: center;
  margin: auto;
  text-align: right;

  fieldset {
    margin-bottom: 20px;
  }

  legend {
    font-size: 30px;
  }

  label {
    font-size: 18px;
  }

  table {
    border-collapse:separate; 

    tr.sep td {
      height: 40px;
    }
  }

  .Select {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin-left: 10px;
    text-align: left;
  }

  input[type="submit"] {
    cursor: pointer;
    padding: 10px;
  }

  >div {
    margin: 30px 0px;
  }
}
