html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.js-plotly-plot .modebar {
  display: none;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 100px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  background-color: #FFF;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: normal;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  .nav {
    flex: 1;
    text-align: center;
    font-size: 20px;

    .dataset {
      font-style: italic;
    }
  }

  .dropzone_container {
    font-size: 25px;
    color: #1da1f2;
    cursor: pointer;
  }
}

.dropzone {
  cursor: pointer;
}

.page {
  display: flex;
  flex: 1;
  justify-content: center;
}

.responsive_plot {
  width: 100%;
  height: 100%;
}

.plots_page {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  .config {
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
      font-size: 20px;
    }

    .Select {
      flex-grow: 1;
    }
  }

  .spinner {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .plots {
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .help {
      margin: 0;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
    }

    .plot {
      display: inline-block;
    }

    >div {
      text-align: center;
    }

    .plot_wrapper {
      display: flex;
      align-items: top;

      .help_icon {
        margin-top: 40px;
        position: relative;
        left: 20px;
        z-index: 2;

        a {
          color: rgba(0, 0, 0, 0.2);
        }
      }

      .js-plotly-plot {
        flex-grow: 1;
      }
    }

    .ranking {
      text-align: left;
      height: 33%;
      margin-bottom: 20px;

      .responsive_plot {
        max-width: 800px;
      }
    }

    .ranking_help {
      margin-left: 200px;
    }

    .features {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      .plot_wrapper {
        flex-grow: 1;
        width: 50%;
        min-width: 450px;
      }
    }
  }
}

#load_dataset {
  align-items: center;

  .dropzone_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .dropzone {
      background: #fafafa;
      border: 2px dashed #eeeeee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 50%;
      height: 50%;
    }
  }
}

#configure_dataset {
  align-items: center;
  margin: auto;
  text-align: center;

  .dnd {
    display: flex;
    margin-bottom: 20px;

    .dustbin_group {
      display: flex;
      flex-direction: column;

      .title {
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 40px;
      }

      .dustbins {
        display: flex;
        flex-grow: 1;
        background: #fafafa;
        border: 2px dashed #eeeeee;
        margin: 0 20px;
        
        .dustbin {
          flex-grow: 1;
          margin: 0 10px;
          min-width: 200px;
          display: flex;
          flex-direction: column;
          padding: 10px;

          .title {
            text-align: center;
            font-size: 20px;
            margin: 5px 0;
          }

          .boxes {
            border: 2px dashed #eeeeee;
            background: white;
            padding: 10px;
            flex-grow: 1;
          }
        }

        .dustbin.active .boxes {
          background: #fafafa;
        }

        .box {
          border: 1px solid #000;
          background: #fafafa;
          padding: 5px;
          cursor: move;
          margin: 5px 0;
        }

        .box.active {
          opacity: 0.5;
        }
      }
    }
  }

  input[type="submit"] {
    cursor: pointer;
    padding: 10px;
  }
}
