#predictions {
  display: flex;
  flex: 1;
  flex-direction: column;

  .config {
    width: 300px;
    margin: auto;
  }

  .plots {
    flex: 1;

    .plot {
      display: inline-block;
    }
  }

  .spinner {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .explain {
    margin: auto;
    text-align: right;

    label {
      font-size: 30px;
    }

    .Select {
      display: inline-block;
      width: 300px;
      margin-left: 10px;
      text-align: left;
    }

    input[type="submit"] {
      cursor: pointer;
    }

    >div {
      margin: 30px 0px;
    }
  }

  .plots {
    display: flex;
    align-items: center;

    >div {
      flex-grow: 1;
      text-align: center;
    }
  }
}
